<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">

                            <div class="logo">
                                <a href="#">
                                    <img th:src="@{#{web.site.image}+'shu1.jpg'}" src="../../../static/assets/img/logo/logo.png" alt="图片显示异常">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">

                                        <li><a th:href="@{/home}" href="../pages/index.html">主页</a></li>
                                        <li><a href="http://www.shu.edu.cn">上大官网</a></li>
                                       <!-- <li><a th:href="@{/checker/checklist}" href="#">所有申报项目</a>
                                       -->
                                            <!--  <ul class="submenu">
                                                  <li><a href="../pages/product_list.html"> Product list</a></li>
                                                  <li><a href="../pages/single-product.html"> Product Details</a></li>
                                              </ul>
                                              -->
                                        </li>
                                        <li><a href="#">我的</a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/applicant/projects}" href="../pages/blog.html">申请的项目</a></li>
                                                <li><a th:href="@{/logout}" href="single-blog.html">退出</a></li>
                                            </ul>
                                        </li>
                                        <!--
                                        <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a  th:href="@{/login}" href="login.html">Login</a></li>
                                                <li><a href="cart.html">Card</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="../pages/confirmation.html">Confirmation</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="../pages/checkout.html">Product Checkout</a></li>
                                            </ul>
                                        </li>
                                        -->
                                        <li><a th:href="@{http://www.its.shu.edu.cn/index.htm}" href="contact.html">联系技术支持</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">

                                <!--
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <input type="text" name="Search" placeholder="Search products">
                                        <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class=" d-none d-xl-block">
                                    <div class="favorit-items">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>
-->
                                <li sec:authorize="isAnonymous()" class="d-none d-lg-block">
                                    <a th:href="@{/login}" href="#" class="btn header-btn">登录</a>
                                </li>
<!--
                               -->

                                <li sec:authorize="isAuthenticated()">
                                    你好，<span sec:authentication="name"></span>
                                </li>

                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--
    sec:authorize="isAnonymous()"
    sec:authorize="isAuthenticated()">
    Hello，<span sec:authentication="name"></span>
    -->

    <!-- Header End -->
</header>
</body>
</html>